.CreateTodoButton {
    background-color: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
/*     position: fixed;
 */ bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    right: 0px;
  
    transform: rotate(0);
    transition: .3s ease;
    z-index: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .CreateTodoButton:hover {
    transform: rotate(224deg);
  }

  @media only screen and (max-width: 640px)
  {
    .CreateTodoButton {
      height: 35px;
      width: 35px;
      font-size: 35px;
      margin-top: 5px;
      margin-bottom: 7px;
      position: inherit;

    }

  }